<ul>
{{#each feeds}}<li data-index="{{@index}}" data-parent="{{parent}}">
		<div>
			<h3>{{title}}</h3>
			<figure>
				<img src="../images/browns/logo-001.png">
			</figure>
		</div>
	</li>{{/each}}
</ul>