<ul>
{{#each feeds}}<li data-index="{{@index}}" data-parent="{{parent}}">
		<div>
			<h3>{{title}}</h3>
			<figure>
				<img src="../images/nfl-logo.png">
			</figure>
			<p>{{parent}}</p>
		</div>
	</li>{{/each}}
</ul>