// ---------- Colors

$black-01: #000;
$black-02: #222;
$white-01: #fff;
$green-01: #00e8b7;

// ---------- Fonts

$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$genericons: "Genericons";