// ---------- Colors

$black-01: #000;
$black-02: #222;
$gray-01: #333;
$white-01: #fff;
$white-02: #ddd;
$green-01: #00e8b7;

// ---------- Fonts

$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;