%header {

	@extend %clear-fix;
	@extend %transition-all;

	width: 100%;
	height: 100%;
	position: fixed;
	background: $black-02;
	padding: 20px 0 10px;
	top: 0;
	height: 37px;
	min-height: auto;
	z-index: 10;
	overflow: hidden;

	.navbar {

		position: absolute;
		width: 100%;
		bottom: 10px;

	}

	.navbar > a {

		@extend %transition-all;
		@extend %inline-block;

		position: relative;
		font-size: 25px;
		color: $white-01;

		&:hover {

			color: $green-01;

		}

		&[data-menu="main"] {

			float: left;
			left: 20px;

		}

		&[data-view="grid"],
		&[data-view="list"],
		&[data-menu="settings"] {

			float: right;
			margin-right: 20px;

		}

	}

	[data-button="close"] {

		@extend %transition-all;
		
		display: none;
		opacity: 0;
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 25px;
		color: $white-01;

		&:hover {

			color: $green-01;

		}

	}

	&.open {

		height: 100%;

		.navbar {

			bottom: 35px;

		}

		[data-button="close"] {

			display: block;
			opacity: 1;

		}

	}

	&[data-view="main"] {

		nav[data-nav="main"] {

			display: block;

		}

	}

	[data-icon="menu"] {

		@extend %icon-menu;

	}

	[data-icon="grid"] {

		@extend %icon-th-large;

	}

	[data-icon="list"] {

		@extend %icon-th-list;

	}

	[data-icon="cog"] {

		@extend %icon-cog;

	}

	[data-icon="close"] {

		@extend %icon-close-alt;

	}

	nav {

		display: none;
		width: 90%;
		margin: 0 auto;

		ul {

			list-style: none;
			width: 100%;
			text-align: center;

		}

		li {

			@extend %inline-block;
			padding: 0 20px;
			font-size: 50px;

			a {

				color: $white-01;

				&:hover,
				&.selected {

					color: $green-01;

				}

			}

		}

	}

}