%modal {

	@extend %transition-all;

	width: 100%;
	height: 100%;
	position: fixed;
	background: $black-02;
	bottom: 0;
	left: 0;
	top: 100%;
	min-height: auto;
	z-index: 9;
	overflow: hidden;

	[data-button="close"] {

		@extend %transition-all;
		
		display: none;
		opacity: 0;
		position: absolute;
		bottom: 100px;
		left: 50%;
		font-size: 25px;
		color: $white-01;

		-ms-transform: translateX(-50%); /* IE 9 */
		-webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
		transform: translateX(-50%);

		&:hover {

			color: $green-01;

		}

	}

	.article {

		width: 80%;
		margin: 0 auto;
		text-align: center;
		color: $white-01;

	}

	figure {

		width: 150px;
		height: auto;
		margin: 0 auto;
		padding: 20px 0 50px;

	}

	img {

		width: 100%;
		height: auto;

	}

	h3 {

		font-size: 40px;
		font-weight: normal;

	}

	p {

		display: block;
		font-size: 25px;
		margin: 25px 0;

	}

	a {

		@extend %transition-all;
		@extend %inline-block;

		font-size: 25px;
		color: $white-01;

		&:hover {

			color: $green-01;

		}

	}

	&.open {

		top: 67px;
		height: 100%;

		[data-button="close"] {

			display: block;
			opacity: 1;

		}

	}

	[data-icon="close"] {

		@extend %icon-close-alt;

	}

}